* {
	box-sizing: border-box;
}

body, html {
	min-height: 100vh;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

img {
	max-width: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box {
	background-color: #FFF5EF;
	color: #F08080;
}

header {
	border-bottom: 1px solid grey;
	padding: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sitename {
	display: flex;
	grid-gap: 10px;
}

h1 {
	margin: 0px;
	color: #CD5C5C;
	font-family: 'Great Vibes', cursive;
}

.logo {
	background-image: url(../imgs/logo.png);
	width: 40px;
	height: 40px;
	background-size: 100%;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	grid-gap: 30px;
}

li a {
	background-color: #F08080;
	color: white;
	border: 2px solid #F08080;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px; 
	transition-duration: 0.4s;
	cursor: url(../imgs/deadrose.png), auto;
	font-weight: bold;
}

li a:hover {
	background-color: white;
	color: #F08080;
	border: 2px solid #F08080;
	font-weight: bold;
}

footer {
	border-top: 1px solid grey;
	display: grid;
	grid-template-columns: 300px 300px;
	justify-content: center;
	grid-gap: 50px;
	padding-top: 5px;
}

.credits {
	text-align: right;
}

.joke {
	font-size: 50px;
	font-weight: bold;
	cursor: url(../imgs/deadrose.png), auto;
}

.joke p:not(:first-child){
	display: none;
}

.credits a {
	color: #F08080;
	text-decoration: none;
}

.credits a:hover {
	color: #F08080;
	text-decoration: underline;
}